@charset "utf-8";
/* 出演者タグ登録フォーム用 */
.ArtistAddForm >tbody >tr >td >label,
.ArtistEditForm >tbody >tr >td >label {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.ArtistAddForm >tbody >tr >td >input,
.ArtistEditForm >tbody >tr >td >input {
  margin-bottom: 10px;
}
.ArtistAddForm >tbody >tr >td >.submit,
.ArtistEditForm >tbody >tr >td >.submit {
  margin-top: 10px;
  margin-left: 108px;
}
.tbl-txt_artists {
  margin-left: 10px;
  margin-bottom: 15px;
}

/* 出演者タグ一覧用 */
.list-tab_artists {
  text-align: center;
  border-style: solid;
  border-width: 1px 0;
  border-color: #ceecf5;
  padding: 5px;
  background-color: #e0f8f7;
  box-shadow: 0 2px #d8d8d8;
  cursor: pointer;
}
.list-tab-active_artists {
  border-bottom-color: #e0f8f7;
  box-shadow: -1px -2px #d8d8d8;
}
.list-tab-non_artists {
  width: 200px;
}
.list-body_artists {
  border-style: solid;
  border-width: 1px 0;
  border-color: #ceecf5;
  padding: 5px;
  background-color: #e0f8f7;
  box-shadow: 0 2px #d8d8d8;
  width: 720px;
}

/* ページリンク用 */
.link-page_artists {
  text-align: right;
  margin-top: 40px;
  margin-right: 50px;
  margin-bottom: 20px;
}

/* アーティスト詳細ページ用 */
.img_artist {
  width: 150px;
  margin-top: 20px;
}
.tbl-name-tag_artists {
  vertical-align: top;
}

/* 開催予定のイベント用 */
.event-list_artist {
  margin-bottom: -20px !important;
}
