@charset "utf-8";
/* ヘッダータイトル */
.head-title {
    font-weight: bold;
    font-size: 25px;
    padding: 5px 5px 5px 50px;
    margin: 0;
    text-shadow: 2px 2px 1px #999999;
}

.head-title a{
    text-decoration: none;
}

.head-title a:link,
.head-title a:visited,
.head-title a:hover,
.head-title a:active {
    color: #ffffff;
}

/* フッターテキスト */
.foot-txt {
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin: 0;
    text-align: center;
}

/* サイドメニュー */
.menu-list {
    list-style-type: none;
    padding-left: 0;
}

.menu-list li{
    margin: 10px 0 10px 0;
    text-align: center;
}

.menu-list a{
    text-decoration: none;
}

.menu-list a:link,
.menu-list a:visited,
.menu-list a:hover,
.menu-list a:active{
    color: #ffffff;
}

/* コンテンツ */
.detail-list {
    width: 740px;
}

.tbl-num {
    text-align: right;
}

.tbl-ico {
    text-align: center;
}

/* アイコン */
.icon-true {
    font-size: 12px;
    background: #01DFA5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-false {
    font-size: 12px;
    background: #D8D8D8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-genre {
    font-size: 12px;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

/* サンプルがないのでbudgetの記述 */
.col-i_1 { /* 給与 */
    background: #819FF7;
}

.col-i_2 { /* 買取 */
    background: #FE2E64;
}

.col-e_1 { /* 趣味費 */
    background: #FE2E64;
}

.col-e_2 { /* イベント */
    background: #FE2E9A;
}

.col-e_3 { /* 交通費 */
    background: #F5A9E1;
}

.col-e_4 { /* 交際費 */
    background: #FAAC58;
}

.col-e_5 { /* 食費 */
    background: #FFFF00;
}

.col-e_6 { /* 家賃 */
    background: #819FF7;
}

.col-e_7 { /* 公共料金 */
    background: #58ACFA;
}

.col-e_8 { /* 生活費 */
    background: #58D3F7;
}

.col-i_3,
.col-e_9 { /* その他 */
    background: #D8D8D8;
}

/* フラッシュメッセージ */
.flash-msg {
//    width: 516px;
    margin-right: 200px;
    padding: 10px 20px;
    background: #CEF6F5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}