@charset "utf-8";
/* ヘッダータイトル */
.head-title {
    font-weight: bold;
    font-size: 25px;
    padding: 0 50px;
    text-shadow: 2px 2px 1px #999999;
}
.head-title a {
    text-decoration: none;
}
.head-title a:link,
.head-title a:visited,
.head-title a:hover,
.head-title a:active {
    color: #ffffff;
}

.head-msg {
    height: 38px;
    margin-right: 20px;
}
.head-welcome {
    font-weight: normal;
    font-size: 16px;
}
.head-handlename {
    font-weight: normal;
    font-size: 20px;
}
.head-handlename a {
    text-decoration: none;
}
.head-handlename a:link,
.head-handlename a:visited,
.head-handlename a:hover,
.head-handlename a:active {
    color: #ffffff;
}

/* フッターテキスト */
.foot-txt {
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin: 0;
    text-align: center;
}

/* サイドメニュー */
.menu-list {
    list-style-type: none;
    padding-left: 0;
}
.menu-list li {
    margin: 10px 0 10px 0;
    text-align: center;
}
.menu-list a {
    text-decoration: none;
}
.menu-list a:link,
.menu-list a:visited,
.menu-list a:hover,
.menu-list a:active {
    color: #ffffff;
}

/* コンテンツ */
.detail-list {
    width: 740px;
}
.detail-list-min {
    width: 540px;
}

/* イベント一覧用ここから */
.event-list {
    /*border-collapse: collapse;*/
    border-spacing: 0 5px;
}
.event-list td {
    border-style: solid;
    border-width: 1px 0;
    border-color: #CEECF5;
    padding: 5px 0;
    background-color: #E0F8F7;
    box-shadow: 0 2px #D8D8D8;
}
.event-list tr >td.tbl-date {
    border-left-width: 1px;
    /*box-shadow: -2px 2px #D8D8D8;*/
}
.event-list tr >td.tbl-act {
    border-right-width: 1px;
    box-shadow: 2px 2px #D8D8D8;
}
/* イベント一覧用ここまで */

/* イベント一覧TOP型ここから */
.event-list-v2 {
    /*border-collapse: collapse;*/
    border-spacing: 0;
}
.event-list-v2 td {
    border-style: solid;
    border-width: 1px 0 2px 0; /* box-shadowの代わりにここだけ変更 */
    border-color: #CEECF5;
    padding: 5px 0;
    background-color: #E0F8F7;
    box-shadow: 0 2px #D8D8D8;
}
.event-list-v2 td.title-main {
    border-width: 1px 0 0 0;
}
.event-list-v2 td.tbl-title-min, .event-list-v2 td.tbl-date-min {
    border-width: 0 0 2px 0;
}
.event-list-v2 td.tbl-act, .event-list-v2 td.tbl-act-min {
    border-width: 1px 2px 2px 0;
}
/* イベント一覧TOP型ここまで */

.title-sub {
    margin-left: 15px;
    font-size: 15px;
}

.tbl-date {
    width: 110px;
}
.tbl-date-min {
    width: 70px;
}
.tbl-num {
    text-align: right;
}
.tbl-genre {
    width: 120px;
    text-align: center;
}
.tbl-ico {
    width: 70px;
    text-align: center;
}
.tbl-act {
    width: 105px;
}
.tbl-act-min {
    width: 50px;
}

.date-closed {
    background-color: #D8D8D8!important;
}

/* 検索box */
.searchbox {
    position: absolute;
    margin-left: 590px;
    margin-top: 170px;
    text-align: center;
}

/* ページリンク */
.link-page a {
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.link-page a:hover {
    background: #A9BCF5;
}
.link-page a:link,
.link-page a:visited,
.link-page a:hover,
.link-page a:active {
    color: #000000;
}

/* ボタンアイコン */
.icon-button {
    font-size: 12px;
    background: #D8D8D8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-button a {
    text-decoration: none;
}
.icon-button a:link,
.icon-button a:visited,
.icon-button a:hover,
.icon-button a:active {
    color: #000000;
}

.icon-button-min {
    font-size: 10px;
    background: #D8D8D8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 3px;
}
.icon-button-min a {
    text-decoration: none;
}
.icon-button-min a:link,
.icon-button-min a:visited,
.icon-button-min a:hover,
.icon-button-min a:active {
    color: #000000;
}

/* アイコン */
.icon-true {
    font-size: 12px;
    background: #01DFA5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-false {
    font-size: 12px;
    background: #D8D8D8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-like {
    font-size: 12px;
    background: #58ACFA;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-alt {
    font-size: 12px;
    background: #FE2E64;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-genre {
    font-size: 12px;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

/* アイコンカラー */
.col-event_1 { /* ライブ */
    background: #FE2E64;
}
.col-event_2 { /* リリイベ */
    background: #58D3F7;
}
.col-event_3 { /* トーク */
    background: #819FF7;
}
.col-event_4 { /* 見本市 */
    background: #FAAC58;
}
.col-event_5 { /* 即売会 */
    background: #FFFF00;
}

.col-entry_1 { /* FC先行 */
    background: #FE2E9A;
}
.col-entry_2 { /* メディア先行 */
    background: #FE2E64;
}
.col-entry_3 { /* e+（イープラス） */
    background: #F5A9E1;
}
.col-entry_4 { /* Loppi（ローチケ） */
    background: #58D3F7;
}
.col-entry_5 { /* チケットぴあ */
    background: #58ACFA;
}
.col-entry_6 { /* その他会員サイト */
    background: #FAAC58;
}
.col-entry_7 { /* その他サイト */
    background: #FFFF00;
}

.col-event_6,
.col-entry_8 { /* その他 */
    background: #D8D8D8;
}

/* 枠付きアラート文 */
.txt-block {
    text-align: center;
    background: #CEF6F5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* フラッシュメッセージ */
.flash-msg {
    margin-right: 200px;
    padding: 10px 20px;
    background: #CEF6F5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* jQuery-hide */
.js-hide {
    display: none;
}
.js-show {
    display: block;
}
