@charset "utf-8";
/* コンテンツ説明文用 */
.intro_events {
  height: 100px;
  margin-bottom: 80px;
}

/* イベント詳細用 */
.access_search {
  float: right;
  margin-top: 5px;
  /*position: absolute;
  top: 220px;
  left: 640px;*/
}

.detail-list_event {
  margin-bottom: 40px!important;
}

.tbl-ico-long {
  text-align: center;
  width: 150px;
}

/* イベント登録フォーム用 */
.event-add-form {
  float: left;
  max-width: 280px;
}
.event-add-label {
  width: 80px;
}
.event-add-input >input, .event-add-input >select {
  max-width: 170px;
}
.event-copy-button {
  font-size: 80%;
}

/* 参加者登録フォーム用 */
.form-user_events,
.form-checked-user_events {
  width: 320px;
  margin-left: 40px;
  max-height: 120px;
  overflow: auto;
}
.form-checked-user_events {
  margin-top: -100px;
}

.checkbox_user {
  margin-right: 20px;
  white-space: nowrap;
}
.checkedbox_user {
  margin-left: 20px;
  white-space: nowrap;
}

.alt_events {
  margin-left: 40px;
}

/* 公開されているイベント一覧ページ用 */
.name-min_events {
  display: block;
  margin: 5px 0 -5px 0;
  font-size: 12px;
}

/* 過去のイベント一覧ページ用 */
.event-list {
  margin-left: 20px;
  margin-bottom: 20px;
}

.js-hide-button,
.js-show-button {
  margin-right: 50px;
}
