@charset "utf-8";
/* コンテンツ説明文用 */
.intro_events {
    height: 150px;
    margin-left: 20px;
}

.intro_events >p {
    margin-right: 20px;
    margin-bottom: 30px;
}

/* イベント一覧用 */
.tbl-date {
    width: 70px;
}

.tbl-ico {
    width: 80px;
}

.tbl-num {
    width: 70px;
}

.tbl-action {
    width: 110px;
}

/* イベント登録フォーム用 */
#EventAddForm >label,
#EventEditForm >label {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#EventAddForm >input, #EventAddForm >select,
#EventEditForm >input, #EventEditForm >select {
    margin-bottom: 10px;
}

#EventAddForm >.submit,
#EventEditForm >.submit {
    margin: 10px 20px;
}

/* 参加者登録フォーム用 */
.form-user_events {
    width: 740px;
    max-height: 100px;
    overflow: auto;
}

.checkbox_user {
    margin-right: 20px;
    white-space: nowrap;
}

/* ページリンク用 */
.link-page_events {
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
}