@charset "utf-8";
/* ページリンク用 */
.link-page_pages {
  margin: 20px 50px 50px 40px;
}

/* メニュー一覧用 */
.list_option {
  list-style-type: none;
}
.list_option >li {
  height: 40px;
}

/* aboutページ用 */
.body_about {
  position: relative;
}
.img_about {
  margin-bottom: 40px;
  width: 300px;
}
.txt_about {
  position: absolute;
  left: 310px;
  bottom: 30px;
}
.link-users-add {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

/* お知らせ、更新履歴ページ用 */
.list_history {
  border-collapse: separate;
  border-spacing: 0 10px;
}
.sub_history {
  font-size: 12px;
  margin-left: 20px;
}

/* よくあるご質問ページ用 */
.list_faq_link {
  list-style-type: none;
  margin-bottom: 50px;
  padding-left: 20px;
}
.list_faq_link >li {
  padding: 8px;
}
.list_faq_link >li >a {
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
.list_faq_link >li >a:hover {
  background: #a9bcf5;
}
.list_faq_link >li >a:link,
.list_faq_link >li >a:visited,
.list_faq_link >li >a:hover,
.list_faq_link >li >a:active {
  color: #000000;
}
.body_faq {
  width: 540px;
  margin-bottom: 50px;
}
.body_question {
  cursor: pointer;
}
