@charset "utf-8";
/* コンテンツ説明文用 */
.intro_places {
  min-height: 150px;
}

/* 会場一覧用 */
.tbl-num_place {
  width: 90px;
}

.delete_places {
  margin-left: 53px;
}

/* 会場登録フォーム用 */
.PlaceAddForm >tbody >tr >td >label,
.PlaceEditForm >tbody >tr >td >label {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.PlaceAddForm >tbody >tr >td >input,
.PlaceEditForm >tbody >tr >td >input {
  margin-bottom: 10px;
}
.PlaceAddForm >tbody >tr >td >.submit,
.PlaceEditForm >tbody >tr >td >.submit {
  margin-top: 10px;
  margin-left: 108px;
}

/* GoogleMap用 */
#map {
  margin-left: 20px;
}
/* ImageDrag用 */
#seat {
  width: 350px;
  height: 350px;
/*  overflow: hidden;*/
  margin-left: 20px;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.link-page_place-seat {
  text-align: right;
  margin: 370px 20px 20px 10px;
}

/* 会場ソート一覧用 */
.sort-list_palce {
  margin-top: -70px;
  width: 400px;
  list-style-type: none;
}
.sort-list_palce >li {
  padding: 5px;
  cursor: pointer;
}
.sort-btn_place {
  margin-left: 350px;
}
