@charset "utf-8";
/* コンテンツ説明文用 */
.intro_places {
    height: 150px;
    margin-left: 20px;
}
.intro_places >p {
    margin-right: 20px;
    margin-bottom: 30px;
}
.intro_places >label {
    margin-right: 20px;
}

/* 会場一覧用 */
.tbl-num_place {
    width: 90px;
}

.delete_places {
    margin-left: 53px;
}

/* 会場登録フォーム用 */
.PlaceAddForm >tbody >tr >td >label,
.PlaceEditForm >tbody >tr >td >label {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.PlaceAddForm >tbody >tr >td >input,
.PlaceEditForm >tbody >tr >td >input {
    margin-bottom: 10px;
}
.PlaceAddForm >tbody >tr >td >.submit,
.PlaceEditForm >tbody >tr >td >.submit {
    margin-top: 10px;
    margin-left: 108px;
}

/* イベント一覧用 */
#event-list_place { /* floatによるレイアウト崩れを防ぐ */
    min-height: 400px;
}
.event-list_place {
    width: 390px;
    margin-bottom: 20px;
}

.tbl-date {
    width: 70px;
}
.tbl-action_place {
    width: 55px;
}