@charset "utf-8";
.intro_places {
    height: 150px;
    margin-left: 20px;
}

.intro_places >p {
    margin-right: 20px;
    margin-bottom: 30px;
}

.intro_places >label {
    margin-right: 20px;
}

/* 会場一覧用 */
.tbl-ico {
    width: 80px;
}

.tbl-num {
    width: 70px;
}

.tbl-action_places {
    width: 110px;
}

/* 会場登録フォーム用 */
#PlaceAddForm >label,
#PlaceEditForm >label {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#PlaceAddForm >input, #PlaceAddForm >select,
#PlaceEditForm >input, #PlaceEditForm >select {
    margin-bottom: 10px;
}

#PlaceAddForm >.submit,
#PlaceEditForm >.submit {
    margin: 10px 20px;
}

/* GoogleMap用 */
#tbl-map {
    width: 350px;
    height: 350px;
}